.navbar_main_div{
    display: flex;
    /* border: 1px solid black; */
    height: 80px;
    justify-content: space-around;
    background-color:deeppink;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}
.navbar_main_div>div>button{
    font-size:22px;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    background-color:rgb(255, 85, 176);
    border-radius: 10px;
    margin-top:26px;
    color:beige;
}